# Python
venv/
__pycache__/
*.pyc
*.pyo
db.sqlite3
media/
crawl.log

# IDE
.idea/

# Claude
.claude/

# Django
*.log
staticfiles/

# Node
node_modules/
frontend/dist/

# Misc
main.py
frontend/README.md
frontend/src/assets/

# OS
.DS_Store
